@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"),
      url("../fonts/MullerBold.woff") format("woff");
    font-display: swap;
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Muller";
    src: url("../fonts/MulleLight.woff2") format("woff2"),
      url("../fonts/MullerLight.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"),
      url("../fonts/MullerMedium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"),
      url("../fonts/MullerRegular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

html {
    font-family: 'Muller', sans-serif;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

h2, h3{
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

/* Header */

.lagoona-header {
    margin-top: 30px;
}

.headerLogo-container {
    display: flex;
    margin-bottom: 30px;
}

.lagoona-header-left {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.lagoona-header-tel {
    padding-left: 35px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: #666666;
}

.lagoona-header-right-lk {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #CC9933;
}

.lagoona-header-right-icon-keybord_tab {
    height: 24px;
    width: 24px;
    background-image: url("/img/keyboard_tab.png");
    margin-right: 5px;
    transform: translateY(-2px);
}

.nav-block {
    height: 70px;
    background-color: white;
    border-radius: 15px;
}

.lagoona-header-block-nav {
    display: flex;
    padding-top: 25px;
}

.lagoona-header-nav-list {
    display: flex;
    margin-right: auto;
    padding-left: 40px;
}

.lagoona-header-nav-link {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #666666;
}

.lagoona-header-nav-item:not(:last-child) {
    padding-right: 45px;
}

.lagoona-header-block-nav-right {
    padding-right: 40px;
}

.lagoona-header-block-nav-right-btn:not(:last-child) {
    margin-right: 35px;
}

.lagoona-header-block-nav-right-btn, .accommodation-item-btn{
    padding: 13px 20px 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #CC9933;
}

/* special-offer */

.special-offer{
    margin-top: 70px;
    height: 600px;
}

.special-offer-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    color: #333333;
}

.special-offer-block {
    display: flex;
    margin-top: 20px;
}

.special-offer-left-item {
    width: 573px;
    height: 258px;
    margin-bottom: 24px;
    position: relative;
}

.offer-mald {
    background-image: url("/img/maldiv.png");
    
}

.offer-krit {
    background-image: url("/img/krit.png");
}

.special-offer-left-item-link {
    position: absolute;
    padding-top: 40px;
    padding-left: 45px;
    width: 420px;
    height: 170px;

}

.special-offer-left-item-link-title {
    margin: 0;
    font-size: 40px;
    color: white;
    line-height: 1;
    font-weight: bold;
}

.special-offer-left-item-link-cost {
    padding-top: 15px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}

.special-offer-left-item-link-details {
    display: block;
    display: flex;
    padding-top: 47px;
    color: #F0BF5F;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}

.special-offer-left-item-link-details-icon {
    width: 11px;
    height: 17px;
    background-image: url("/img/Rectangle 2.png");
    margin-left: 6px;
}

.special-offer-right-link {
    position: relative;
    margin-left: 24px;
    height: 540px;
    width: 573px;
    background-image: url("/img/offerImage.png");
}

.offer-right-block {
    position: absolute;
    top: 212px;
    left: 45px;
    width: 229px;
}

.special-offer-right-item-title {
    margin: 0;
    font-size: 60px;
    color: white;
    line-height: 1;
}

.special-offer-right-item-cost {
    font-size: 30px;
    color: white;
    padding-top: 15px;
    line-height: 1;
    font-weight: 400;
}

/* AboutUS */

.aboutUs {
    margin-top: 70px;
}

.aboutUs-title {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #333333;
}

.aboutUs-description {
    margin: 0;
    margin-top: 20px;
    width: 888px;
    height: 192px;
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
    color: #000000;
}

/* services */

.services {
    margin-top: 70px;
    height: 744px;
}

.services-title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #333333;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-list-item {
    width: 573px;
    height: 330px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 15px;
}

.service-list-item-desc {
    margin-top: 26px;
    margin-left: 45px;
    margin-right: 126px;
}

.services-list-item-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #CC9933;
    line-height: 200%;
    font-weight: 500;
}

.services-list-item-desc {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
    color: #000000;
}

/* advatanges */

.advatanges {
    margin-top: 70px;
}

.advatanges-title {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #333333;
}

.advatanges-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advatanges-list-item {
    width: 276px;
    height: 276px;
    margin-bottom: 22px;
    background-color: white;
    border-radius: 15px;
}

.advatanges-list-item-desc {
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 42px;
}

.advatanges-item-desc {
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
    color: #000000;
}

/* accommodation */

.accommodation-title {
    margin-top: 48px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #333333;
}

.accommodation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accommodation-list-item {
    margin-bottom: 24px;
    min-width: 373px;
    background-color: white;
    border-radius: 15px;
}

.accommodation-list-item-desc {
    display: flex;
    padding-top: 32px;
    padding-left: 45px;
}

.accommodation-item-cost-begin {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #999999;
}

.accommodation-item-cost-price {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
}

.accommodation-item-hotelName {
    padding-top: 16px;
}

.accommodation-item-hotelCountry {
    padding-top: 16px;
    color: #999999;
}

.accommodation-item-btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 45px;
    color: #CC9933;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.accommodation-item-link-last {
    background-image: url("/img/all_variat.png");
    background-size: cover;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.accommodation-item-allVariant{
    position: absolute;
    top: 373px;
    left: 54px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 200%;
    font-weight: 500;
}

.accommodation-item-allVariant-icon {
    background-image: url("/img/Rectangle3.png");
    width: 11px;
    height: 17px;
    margin-left: 6px;
}

/* whant-tour */

.section-whant-tour {
    margin-top: 70px;
    height: 256px;
    background-color: #E9E9E9;
}

.whant-tour-title {
    padding-top: 45px;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #000000;
}

.form {
    margin-top: 20px;
    margin-left: 45px;
    padding: 31px 28px 32px;
    width: 1080px;
    height: 106px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.form-element {
    display: flex;
}

.label-field {
    display: flex;
    flex-direction: column;
}

.label-field:not(:last-child) {
    margin-right: 41px;
}

.form-item {
    margin-top: 10px;
    border: none;
}

.form-btn {
    margin-left: 14px;
    padding: 13px 20px 13px 20px;
    width: 108px;
    height: 42px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #CC9933; 
}

.form-item-cityCountry {
    width: 169px;
}

.form-item-data {
    width: 121px;
}

.form-item-number {
    width: 121px;
    border-bottom: 1px Solid #E9E9E9;
}

.form-item-number::-webkit-inner-spin-button,
.form-item-number::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../img/calendar_today.png") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    transform: translateY(3px);
}

/* contacts */

.section-contacts {
    margin-top: 70px;
    height: 678px;
}

.contacts-title {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #333333;
}

.contacts-block {
    margin-top: 20px;
    padding: 45px;
    display: flex;
    height: 618px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.contacts-block-left {
    width: 375px;
    margin-right: 52px;
}

.contacts-block-left-element {
    display: flex;
    border-bottom: 1px Solid #E9E9E9;
}

.contacts-block-left-element {
    padding-bottom: 25px;
}

.contacts-block-left-element:not(:first-child) {
    padding: 25px 0;    
}

.contacts-block-left-element-title {
    min-width: 98px;
    margin-right: 47px;
    font-size: 20;
    line-height: 1;
    font-weight: bold;
}

.contacts-block-left-element-right {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.contacts-tel,
.contacts-mail {
    display: block;
    color: #CC9933;
}

.mail-description {
    margin: 0;
}

.contacts-block-right {
    width: 653px;
    height: 528px;
    background: url("../img/ContactImg.png") center center no-repeat;
}

.mail-description {
    color: #999999;
}

.conacts-block-btn {
    margin-top: 45px;
    padding-top: 27px;
    display: block;
    width: 213px;
    height: 70px;
    border: 1px solid #CC9933;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #CC9933;
    }

/* footer */

footer {
    margin-top: 40px;
}

.footer-block {
    position: relative;
    padding: 45px;
    width: 1180px;
    height: 341px;
    background-color: #333333;
    border-radius: 15px;
}

.footer-block-element {
    display: flex;
}

.footer-element {
    min-width: 359px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 150%;
}

.footer-element:not(:last-child) {
    margin-right: 125px;
}

.footer-element-left-desc {
    margin-bottom: 40px;
    width: 302px;
}

.user-agreement {
    color: #CC9933;
}

.footer-element-midle-desc {
    margin-bottom: 15px;
}

.footer-element-right {
    display: block;
    display: flex;
    flex-direction: column;
}

.footer-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.footer-icon-tripadvisor {
    background-image: url("../img/tripadvisor.png");
}

.footer-icon-ok {
    background-image: url("../img/ok.png");
}

.footer-icon-vk {
    background-image: url("../img/Vector.png");
}

.footer-img {
    position: absolute;
    left: 790px;
    top: 112px;
    width: 254px;
    height: 228px;
    background: url("../img/footerImg.png") center center no-repeat;

}
